<section class="content">
<article class="work">
<h2>My projects</h2>
<p><%= link_to 'New', new_portfolio_path %></p>

<ul class="projects">
<% @portfolios.each do |portfolio| %>
<li>
<figure>
<a href="project-1.html">
<%= image_tag portfolio.image.url(:portfolio) %>
<div>
<span class="icon-folder"></span>
</div>
</a>
<figcaption>
<h4><%= portfolio.title %></h4>
<p><%= portfolio.body %></p>

</figcaption>
</figure>
</li>
<%end%>

</ul>
    <div class="page_info">
      <%= page_entries_info @portfolios %>
    </div>
    <%= will_paginate @portfolios, :container => false %>
  </div>
