<section class="content">
  <article class="work">
    <div><%= notice %>
      <h2>My projects</h2>
      <ul class="projects">
      <% @portfolios.each do |portfolio| %>
      <li>
      <figure>
        <%= image_tag portfolio.image.url(:portfolio) %>
      <figcaption>
      <h4><%= portfolio.title %></h4>
      <p><%= portfolio.body %></p>
      
      <% if current_user %>
        <p><%= link_to 'edit', edit_portfolio_path(portfolio) %> 
          <%= link_to 'delete', portfolio, confirm: 'Are you Sure?', method: :delete %>
        </p>  
      <%end%>  
            
    </figcaption>
      </figure>
      </li>
      <%end%>
       </ul>
    </div>
    <%= render 'portfolios/addproject' %>
    <%= render 'portfolios/login' %> 
    <%= render 'portfolios/paginate' %>

  </article>
</section>
   

    
