<section class="content">
  <article class="work">
    <div><%= notice %>

      <h2>My projects</h2>
       <h2>FEB 3: Please excuse this mess as I try to figure out why uploaded images are being duplication across.</h2>


      <ul class="projects">
      <% @portfolios.each do |portfolio| %>
      <li>
      <figure>
        <%= image_tag portfolio.image.url %>
      <figcaption>
      <h4><%= portfolio.title %></h4>
      <p><%= raw portfolio.body %></p>
      
      <% if current_user %>
        <p><%= link_to 'edit', edit_portfolio_path(portfolio) %> 
          <%= link_to 'delete', portfolio, confirm: 'Are you Sure?', method: :delete %>
        </p>  
      <%end%>  
            
    </figcaption>
      </figure>
      </li>
      <%end%>
       </ul>
    </div>
    <%= render 'addproject' %>
    <%= render 'login' %> 
    <%= render 'paginate' %>

  </article>
</section>
   

    
