<section class="content">
<%= form_for @portfolio do |form| %>

<%= form.label :title %>
<%= form.text_field :title %><br/><br/>

<%= form.label :body %>
<%= form.text_area :body, cols:'50', rows: '20' %><br/><br/>
<%= form.label :image %>
<%= form.file_field :image %><br/><br/>

<%= form.submit 'submit'%>

<%end%>	
</section>