<nav id="nav">
  <ul class="nav">
    <li><%= image_tag "logo.jpg", size: '187X188' %></li>
    <li><%= link_to(root_path, :class=>"icon-heart") do %><span>Introduction</span><%end%></li>
    <li><%= link_to(portfolios_path, :class=>"icon-briefcase") do %><span>Work</span><%end%></li>
    <li><%= link_to(resume_path, :class=>"icon-list") do %><span>Resume</span><%end%></li>
    <li><%= link_to(contact_path, :class=>"icon-mail") do %><span>Contact</span><%end%></li>
  </ul>
</nav>